- if broadcast
  .alert
    %button.close.hide_broadcast{type: 'button', 'data-dismiss' => 'alert', 'data-id' => broadcast.id, href: '#'} &times;
    %h3.title= broadcast.title.to_s
    .content
      = broadcast.content.to_s
